header {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
}

.logo {
    min-width: 100px;
    transition: all ease-in-out;
    margin-top: 5px;
    padding: 10px;
    
}
.logo:hover {
    min-width: 103px;
    transform:  scale(1);
    
}


nav {
    width: 100%;
    height: auto;
    border: 1px solid var(--second-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 0px 20px;
    color: aliceblue;
 
   
    
}

nav .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 20px;
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav .menu a {
    font-size: 14px;
    letter-spacing: 0.08em;
    line-height: 2.0em;
    
}

@media (max-width: 640px) {

    nav {
        height: auto;
        }

    nav .menu a {
        font-size: 16px;
        line-height: 2.0em;
        letter-spacing: 0.08em;
        } 

    .logo {
        transform: rotate(-90deg);
        }
    }    

@media (max-width: 370px) {

    nav {
        width: 300px;
        height: auto;
        flex-direction: column;
        }

    nav .menu a {
        font-size: 18px;
        line-height: 2.8em;
        letter-spacing: 0.08em;
        } 

    .logo {
       
        
        }    

    .logo {
        display: none;
        transform: rotate(0deg);
        margin-top: 20px;
        }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;  
        padding-bottom: 5px;
    }
    
    nav .menu {
        display: flex;
        flex-wrap: wrap;
        gap: 0px 10px;
        margin-left: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
        
    


    } 


