.bio {
    width: 80vw;

}

.wrapper {
    width: 80vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.img-historico {
    width: 29vw;
    margin-right: 30px;
    margin-bottom: 30px;
    
    
}

.vertical-banner{
    width: 39vw;
    margin-right: 50px;
}

.wrapper02 {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


@media (max-width: 370px) {
.topo-button {
    display: none;
}

.wrapper {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.banner {
    display: none;
    
    
}

.img-historico {
    width: 100%;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    
    
}




}