

a{
    text-decoration: none;
    color: var(--second-color);
}

a:hover {
  
    color: var(--terc-color);
}

li {
    list-style: none;
    
}

:root {
    --main-color: #FFD5D5;
    --second-color: #56AE5F;
    --terc-color: rgb(0, 0, 0);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--terc-color);
    background-color: var(--main-color);
    font-family: "Inter", sans-serif;
}

h2 {
    font-size: 38px;
    font-weight: 100;
    line-height: 58px;

}

h3 {
    font-size: 30px;
}

h5 {
    color: var(--second-color);
    font-weight: 300;
    line-height: 41px;
    font-size: 16px;
}

h6 {
    font-weight: 300;
    line-height: 41px;
    font-size: 16px;
}

em {
    font-weight: 600;
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    
}

p {
    font-size: 20px;
    color: var(--terc-color);
    line-height: 40px;
    font-weight: 300;
}

.banner {
    width: 80vw;
    margin: 30px 0px;

}


